.env
node_modules
*.wasm
.wrangler/
*.folder
*.har
*.proxymanlogv2
build/
.gocache
dist

/antigravity-proxy
/antigravity-proxy.exe
npm/antigravity-proxy
npm/antigravity-proxy.exe

com.antigravity-proxy.plist
com.gemini-proxy.plist
/gemini-proxy
/gemini-code-assist-proxy
